body {
    font-family:Arial, Helvetica, sans-serif;
    color: #ffffff;
    text-align: center;
    background-color: #3d3d3d;
}

h1 {
    font-family:Arial, Helvetica, sans-serif;
    color: #ffffff;
    text-align: center;
    background-color: #3d3d3d;
}

img {
    border-radius: 3px;
    border: 9px solid white;
}
